body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
h1 span {
  color: orange;
}
.container {
  display: flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
.half-width{
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  max-width: 100%;
}
.container .btn {
  text-decoration: none;
  padding: 10px 40px;
  background-image: linear-gradient(orange, tomato);
  border-radius: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.dream-big {
  display: flex;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.download-link {
  padding: 10px 40px;
  text-decoration: none;
  background-image: linear-gradient(orange,tomato);
  border-radius: 10px;
  color: #fff;
}
.dream-content {
  padding-right: 40px;
  margin-top: 100px;
}